<form action="/users" method="POST">

    <input type="text" name="Title">

    {{!-- <label for="firstname"></label>
    <label for="surnamename"></label> --}}

    <button type="submit">Send</button>

</form>