<form action="/users" method="POST">

    <input type="text" name="Title">

    {{!-- <label for="firstname"></label>
    <label for="surnamename"></label> --}}
    Name: <input type='text' name='name'  required/> <br />
    Surname: <input type='text' name='name'  required/> <br />
    Email: <input type='email' name='email' required/> <br />

    <input type='submit' name='send' value='Send'> 
    
    </form>


  

</form>