<form action="/users/new" method="POST">

   

    {{!-- <label for="firstname"></label>
    <label for="surnamename"></label> --}}
    <h1>Form New Users</h1>
    Name: <input type='text' name='firstname'  required/> <br />
    <br />
    Surname: <input type='text' name='lastname'  required/> <br />
    <br />
    Email: <input type='email' name='email' required/> <br />
    <br />

    <input type='submit' name='send' value='Send'> 
    
    </form>


  

</form>